<mat-card class="container">
    <mat-card-header> <mat-card-title>Cadastrar Vaga</mat-card-title></mat-card-header>
    <mat-card-content>
        <mat-form-field id="morador" class="input">
            <mat-label for="txtValor">ID Morador</mat-label>
            <input matInput type="number" id="moradorId" [(ngModel)]="moradorId" />  
        </mat-form-field>
    </mat-card-content>
    <button class="button" mat-raised-button color="warn" id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</mat-card>



<!--- Material Design Angular-->
