<mat-toolbar class="toolbar" color="warn">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      Sistema | Estacionamento de Condomínio
    </span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/morador/cadastrar">
        <mat-icon class="icon">person_add_alt_1</mat-icon>
        Cadastrar morador
      </a>
      <a mat-list-item routerLink="/pages/morador/listar">
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        Listar moradores
      </a>
      <a mat-list-item routerLink="/pages/vagas/cadastrar">
        <mat-icon class="icon">directions_car</mat-icon>
        Cadastrar vaga
      </a>
      <a mat-list-item routerLink="/pages/vagas/listar">
        <mat-icon class="icon">format_list_bulleted</mat-icon>
        Listar vaga
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet>
      <!--- É aqui que entra cada componente -->
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



