<mat-card class="container">
    <mat-card-header>
        <mat-card-title>Cadastrar Morador</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field *ngIf="moradorid" class="input" id="id">
            <mat-label for="id">Id</mat-label>
            <input
                disabled=""
                matInput
                type="text"
                name="id"
                [(ngModel)]="moradorid!"
            />
        </mat-form-field>
        <mat-form-field class="input" id="nome">
            <mat-label for="txtNome">Nome</mat-label>
            <input matInput type="text" name="nome" [(ngModel)]="nome" />
        </mat-form-field>
        <mat-form-field class="input" id="cpf">
            <mat-label for="cpf">CPF</mat-label>
            <input matInput type="text" name="cpf" [(ngModel)]="cpf" />
        </mat-form-field>
        <mat-form-field class="input" id="apart">
            <mat-label for="apart">Apartamento</mat-label>
            <input matInput type="text" name="apart" [(ngModel)]="apart" />
        </mat-form-field>
        <mat-form-field class="input" id="email">
            <mat-label for="email">Email</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field class="input" id="bloco">
            <mat-label for="bloco">Bloco</mat-label>
            <input matInput type="text" name="bloco" [(ngModel)]="bloco" />
        </mat-form-field>
        <mat-form-field class="input" id="modeloVeiculo">
            <mat-label for="modeloVeiculo">Modelo veículo</mat-label>
            <input matInput type="text" name="modeloVeiculo" [(ngModel)]="modeloVeiculo" />
        </mat-form-field>
        <mat-form-field class="input" id="cor">
            <mat-label for="cor">Cor</mat-label>
            <input matInput type="text" name="cor" [(ngModel)]="cor" />
        </mat-form-field>
        <mat-form-field class="input" id="placa">
            <mat-label for="placa">Placa</mat-label>
            <input matInput type="text" name="placa" [(ngModel)]="placa" />
        </mat-form-field>

    </mat-card-content>
    <button class="button"
        mat-raised-button
        color="warn"
        *ngIf="!moradorid"
        id="btnCadastrar"
        (click)="cadastrar()"
        >
        Cadastrar
        </button>
        <button
        mat-raised-button
        color="warn"
        *ngIf="moradorid"
        id="btnAlterar"
        (click)="alterar()"
        >
        Salvar
    </button>
</mat-card>


